body{
  background-color: #FFA384;
}

* {
  box-sizing: border-box;
}

nav {
  margin: 0 auto;
  width: 1200px;
  display: flex;
}

nav img{
  max-width: 50%;
  height: auto;
}

.container {
  margin: 30px auto;
  background-color: #E7F2F8;
  flex-direction:row;
  display:flex;
  flex-wrap: wrap;
  align-items:stretch;
   width: 100%;
  justify-content: center;
}

article{
border: solid 10px #74BDCB;
background-color:#EFE7BC;
margin: 10px;
padding: 30px;
}


div{
width: 350px;

border: solid 10px #EFE7BC;
background-color:#B8DDD6;
}

section img {
  border: solid 10px #EFE7BC;
  width: 350px;
  height: auto;
}

h1{
  font-size: 60px;
  margin: 30px;
  font-family: 'Style Script', cursive;
  color: rgb(153, 131, 131)
}

nav h2{
  margin 50px;
}

h2{
  font-size: 25px;
  margin: 30px;
}

h3{
  font-size: 20px;
  margin: 20px;
}

li{
  font-family: 'Avant Garde', Helvetica, sans-serif;
  margin-left: 40px;
  color: black;
}

p{
  font-family: Georgia, Times, 'Times New Roman', serif;
  margin: 10px;
  color: black;
  align-content: center;
}

blockquote{
  overflow:auto;
  height: 310px; 
}

th,td {
  border: 1px solid black;
   padding: 10px;
}

table{
  border: solid 10px #74BDCB;
  background-color:#EFE7BC;
  margin: 10px;
  padding: 30px;
}